====================================
| DAY: {{ day }}    ({{start}} - {{end}}) |
{% for l in args: %}
====================================
{% for (k, v) in l %}
| {{ "%-15s"|format(k) }}{{ "%16s"|format(v) }}  |
{% endfor %}
{% endfor %}
====================================
