================================================
| | Day: {{ day }}  | Duration: {{start}} - {{end}} |
================================================
|*| Name:    | Title:     | u: | l: | v: |
------------------------------------------------
{% for (r, un, t, u, l, v) in args: %}
|{{r}}| {{un}}| {{t}}| {{u}} | {{l}} | {{ v }} |
{% endfor %}
================================================
Shortcuts: u->Units, l->Level, v->week victories
